# Suicide Rates Overview 1985 to 2016

## Compares socio-economic info with suicide rates by year and country

[Kaggle](https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016)

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Reading the dataset file
df = pd.read_csv("data/master.csv")

In [3]:
# Displaying the first 5 rows of the DataFram
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
# Data type in each column
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [5]:
# Summary of information in all columns
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [6]:
# Number of rows and columns in the DataFrame
print('Number of rows:', df.shape[0])
print('Number of columns:', df.shape[1])

Number of rows: 27820
Number of columns: 12

In [15]:
analysis_max_gdp_per_capita = df[df['gdp_per_capita ($)'] == 126352.000000]

In [16]:
analysis_max_gdp_per_capita

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
15654,Luxembourg,2014,male,55-74 years,18,52295,34.42,Luxembourg2014,0.892,"66,327,344,189",126352,Boomers
15655,Luxembourg,2014,male,75+ years,4,14546,27.50,Luxembourg2014,0.892,"66,327,344,189",126352,Silent
15656,Luxembourg,2014,male,35-54 years,20,88218,22.67,Luxembourg2014,0.892,"66,327,344,189",126352,Generation X
15657,Luxembourg,2014,male,25-34 years,7,41442,16.89,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15658,Luxembourg,2014,female,75+ years,3,22669,13.23,Luxembourg2014,0.892,"66,327,344,189",126352,Silent
15659,Luxembourg,2014,female,55-74 years,5,52260,9.57,Luxembourg2014,0.892,"66,327,344,189",126352,Boomers
15660,Luxembourg,2014,female,15-24 years,2,32510,6.15,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15661,Luxembourg,2014,male,15-24 years,2,34219,5.84,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15662,Luxembourg,2014,female,25-34 years,2,40862,4.89,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15663,Luxembourg,2014,female,35-54 years,3,84147,3.57,Luxembourg2014,0.892,"66,327,344,189",126352,Generation X
15664,Luxembourg,2014,male,5-14 years,1,31718,3.15,Luxembourg2014,0.892,"66,327,344,189",126352,Generation Z
15665,Luxembourg,2014,female,5-14 years,0,30054,0.00,Luxembourg2014,0.892,"66,327,344,189",126352,Generation Z

In [18]:
analysis_max_gdp_per_capita["suicides_no"].

67

In [23]:
df.query("country == 'Luxembourg'")

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
15306,Luxembourg,1985,male,75+ years,6,6900,86.96,Luxembourg1985,0.752,"4,738,559,685",13743,G.I. Generation
15307,Luxembourg,1985,male,55-74 years,14,30200,46.36,Luxembourg1985,0.752,"4,738,559,685",13743,G.I. Generation
15308,Luxembourg,1985,female,75+ years,4,13500,29.63,Luxembourg1985,0.752,"4,738,559,685",13743,G.I. Generation
15309,Luxembourg,1985,male,35-54 years,12,50200,23.90,Luxembourg1985,0.752,"4,738,559,685",13743,Silent
15310,Luxembourg,1985,female,25-34 years,6,29800,20.13,Luxembourg1985,0.752,"4,738,559,685",13743,Boomers
15311,Luxembourg,1985,female,35-54 years,5,47900,10.44,Luxembourg1985,0.752,"4,738,559,685",13743,Silent
15312,Luxembourg,1985,male,25-34 years,3,29900,10.03,Luxembourg1985,0.752,"4,738,559,685",13743,Boomers
15313,Luxembourg,1985,male,5-14 years,2,21700,9.22,Luxembourg1985,0.752,"4,738,559,685",13743,Generation X
15314,Luxembourg,1985,male,15-24 years,2,28100,7.12,Luxembourg1985,0.752,"4,738,559,685",13743,Generation X
15315,Luxembourg,1985,female,15-24 years,1,27800,3.60,Luxembourg1985,0.752,"4,738,559,685",13743,Generation X
15316,Luxembourg,1985,female,5-14 years,0,20500,0.00,Luxembourg1985,0.752,"4,738,559,685",13743,Generation X
15317,Luxembourg,1985,female,55-74 years,0,38300,0.00,Luxembourg1985,0.752,"4,738,559,685",13743,G.I. Generation
15318,Luxembourg,1986,male,75+ years,3,7100,42.25,Luxembourg1986,NaN,"6,921,264,132",20004,G.I. Generation
15319,Luxembourg,1986,male,55-74 years,13,30800,42.21,Luxembourg1986,NaN,"6,921,264,132",20004,G.I. Generation
15320,Luxembourg,1986,male,25-34 years,7,30200,23.18,Luxembourg1986,NaN,"6,921,264,132",20004,Boomers
15321,Luxembourg,1986,male,35-54 years,11,50300,21.87,Luxembourg1986,NaN,"6,921,264,132",20004,Silent
15322,Luxembourg,1986,female,55-74 years,7,38600,18.13,Luxembourg1986,NaN,"6,921,264,132",20004,G.I. Generation
15323,Luxembourg,1986,female,25-34 years,4,30200,13.25,Luxembourg1986,NaN,"6,921,264,132",20004,Boomers
15324,Luxembourg,1986,male,15-24 years,3,27800,10.79,Luxembourg1986,NaN,"6,921,264,132",20004,Generation X
15325,Luxembourg,1986,female,75+ years,1,13900,7.19,Luxembourg1986,NaN,"6,921,264,132",20004,G.I. Generation
15326,Luxembourg,1986,female,35-54 years,2,47900,4.18,Luxembourg1986,NaN,"6,921,264,132",20004,Silent
15327,Luxembourg,1986,female,15-24 years,0,27500,0.00,Luxembourg1986,NaN,"6,921,264,132",20004,Generation X
15328,Luxembourg,1986,female,5-14 years,0,20300,0.00,Luxembourg1986,NaN,"6,921,264,132",20004,Generation X
15329,Luxembourg,1986,male,5-14 years,0,21400,0.00,Luxembourg1986,NaN,"6,921,264,132",20004,Generation X
15330,Luxembourg,1987,male,75+ years,3,7200,41.67,Luxembourg1987,NaN,"8,614,215,559",24654,G.I. Generation
15331,Luxembourg,1987,male,35-54 years,19,51000,37.25,Luxembourg1987,NaN,"8,614,215,559",24654,Silent
15332,Luxembourg,1987,male,25-34 years,10,31100,32.15,Luxembourg1987,NaN,"8,614,215,559",24654,Boomers
15333,Luxembourg,1987,female,55-74 years,12,39000,30.77,Luxembourg1987,NaN,"8,614,215,559",24654,G.I. Generation
15334,Luxembourg,1987,male,55-74 years,9,31500,28.57,Luxembourg1987,NaN,"8,614,215,559",24654,G.I. Generation
15335,Luxembourg,1987,female,75+ years,3,14400,20.83,Luxembourg1987,NaN,"8,614,215,559",24654,G.I. Generation
...,...,...,...,...,...,...,...,...,...,...,...,...
15648,Luxembourg,2013,female,25-34 years,2,39688,5.04,Luxembourg2013,0.890,"61,739,352,212",120423,Millenials
15649,Luxembourg,2013,female,35-54 years,4,82301,4.86,Luxembourg2013,0.890,"61,739,352,212",120423,Generation X
15650,Luxembourg,2013,female,15-24 years,0,32027,0.00,Luxembourg2013,0.890,"61,739,352,212",120423,Millenials
15651,Luxembourg,2013,female,5-14 years,0,29800,0.00,Luxembourg2013,0.890,"61,739,352,212",120423,Generation Z
15652,Luxembourg,2013,male,25-34 years,0,40174,0.00,Luxembourg2013,0.890,"61,739,352,212",120423,Millenials
15653,Luxembourg,2013,male,5-14 years,0,31425,0.00,Luxembourg2013,0.890,"61,739,352,212",120423,Generation Z
15654,Luxembourg,2014,male,55-74 years,18,52295,34.42,Luxembourg2014,0.892,"66,327,344,189",126352,Boomers
15655,Luxembourg,2014,male,75+ years,4,14546,27.50,Luxembourg2014,0.892,"66,327,344,189",126352,Silent
15656,Luxembourg,2014,male,35-54 years,20,88218,22.67,Luxembourg2014,0.892,"66,327,344,189",126352,Generation X
15657,Luxembourg,2014,male,25-34 years,7,41442,16.89,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15658,Luxembourg,2014,female,75+ years,3,22669,13.23,Luxembourg2014,0.892,"66,327,344,189",126352,Silent
15659,Luxembourg,2014,female,55-74 years,5,52260,9.57,Luxembourg2014,0.892,"66,327,344,189",126352,Boomers
15660,Luxembourg,2014,female,15-24 years,2,32510,6.15,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15661,Luxembourg,2014,male,15-24 years,2,34219,5.84,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15662,Luxembourg,2014,female,25-34 years,2,40862,4.89,Luxembourg2014,0.892,"66,327,344,189",126352,Millenials
15663,Luxembourg,2014,female,35-54 years,3,84147,3.57,Luxembourg2014,0.892,"66,327,344,189",126352,Generation X
15664,Luxembourg,2014,male,5-14 years,1,31718,3.15,Luxembourg2014,0.892,"66,327,344,189",126352,Generation Z
15665,Luxembourg,2014,female,5-14 years,0,30054,0.00,Luxembourg2014,0.892,"66,327,344,189",126352,Generation Z
15666,Luxembourg,2015,male,55-74 years,16,54325,29.45,Luxembourg2015,NaN,"57,784,495,265",107456,Boomers
15667,Luxembourg,2015,male,75+ years,4,15011,26.65,Luxembourg2015,NaN,"57,784,495,265",107456,Silent
15668,Luxembourg,2015,male,35-54 years,17,90095,18.87,Luxembourg2015,NaN,"57,784,495,265",107456,Generation X
15669,Luxembourg,2015,female,55-74 years,9,53878,16.70,Luxembourg2015,NaN,"57,784,495,265",107456,Boomers
15670,Luxembourg,2015,male,15-24 years,4,34757,11.51,Luxembourg2015,NaN,"57,784,495,265",107456,Millenials
15671,Luxembourg,2015,male,25-34 years,4,42930,9.32,Luxembourg2015,NaN,"57,784,495,265",107456,Millenials
15672,Luxembourg,2015,female,75+ years,2,23189,8.62,Luxembourg2015,NaN,"57,784,495,265",107456,Silent
15673,Luxembourg,2015,female,35-54 years,6,85928,6.98,Luxembourg2015,NaN,"57,784,495,265",107456,Generation X
15674,Luxembourg,2015,female,5-14 years,1,30367,3.29,Luxembourg2015,NaN,"57,784,495,265",107456,Generation Z
15675,Luxembourg,2015,female,15-24 years,1,33170,3.01,Luxembourg2015,NaN,"57,784,495,265",107456,Millenials
15676,Luxembourg,2015,female,25-34 years,0,42000,0.00,Luxembourg2015,NaN,"57,784,495,265",107456,Millenials
15677,Luxembourg,2015,male,5-14 years,0,32098,0.00,Luxembourg2015,NaN,"57,784,495,265",107456,Generation Z